<!DOCTYPE html>
<html>

<head>
     <link rel="stylesheet" href="style.css" />
     <title>Amazona</title>
</head>

<body>
     <div class="grid-container">
          <header class="header">
               <div class="brand">
                    <a href="index.html">Amazona</a>
               </div>
               <div class="header-links">
                    <a href="cart.html">Cart</a>
                    <a href="signin">signin</a>
               </div>
          </header>

          <main class="main">
               <ul class="products">
                    <li>
                         <div class="product">
                              <a href="product.thml">
                                   <img class="product-image" src="images/d1.jpg" alt="product" />
                              </a>
                              <div class="product-name">
                                   <a href="product.html">Slim Shirt</a>
                              </div>
                              <div class="product-brand">Nike</div>
                              <div class="product-price">$60</div>
                         </div>
                    </li>

          </main>
          <footer class="footer">
               All right reserved.
          </footer>
     </div>
</body>

</html>