<!DOCTYPE html>
<html>

<head>
     <link rel="stylesheet" href="style.css" />
     <title>Amazona</title>
</head>

<body>
     <div class="grid-container">
          <header class="header">
               <div class="brand">
                    <button onclick="openMenu()">&#9776;</button>
                    <a href="index.html">Amazona</a>
               </div>
               <div class="header-links">
                    <a href="cart.html">Cart</a>
                    <a href="signin">signin</a>
               </div>
          </header>
          <aside class="sidebar">
               <h3>Shopping Catogeries</h3>
               <button class="sidebar-close-button" onclick="closeMenu()">X</button>
               <ul>
                    <li>
                         <a href="index.html">Pant</a>
                    </li>
                    <li>
                         <a href="index.thml">Shirts</a>
                    </li>
               </ul>
          </aside>
          <main class="main">
               <ul class="products">
                    <li>
                         <div class="product">
                              <a href="product.thml">
                                   <img class="product-image" src="images/d1.jpg" alt="product" />
                              </a>
                              <div class="product-name">
                                   <a href="product.html">Slim Shirt</a>
                              </div>
                              <div class="product-brand">Nike</div>
                              <div class="product-price">$60</div>
                              <div class="product-rating">4.5 Stars (10 Reviews)</div>
                         </div>
                    </li>
                    <li>
                         <div class="product">
                              <a href="product.thml">
                                   <img class="product-image" src="images/d1.jpg" alt="product" />
                              </a>
                              <div class="product-name">
                                   <a href="product.html">Slim Shirt</a>
                              </div>
                              <div class="product-brand">Nike</div>
                              <div class="product-price">$60</div>
                              <div class="product-rating">4.5 Stars (10 Reviews)</div>
                         </div>
                    </li>
                    <li>
                         <div class="product">
                              <a href="product.thml">
                                   <img class="product-image" src="images/d1.jpg" alt="product" />
                              </a>
                              <div class="product-name">
                                   <a href="product.html">Slim Shirt</a>
                              </div>
                              <div class="product-brand">Nike</div>
                              <div class="product-price">$60</div>
                              <div class="product-rating">4.5 Stars (10 Reviews)</div>
                         </div>
                    </li>
                    <li>
                         <div class="product">
                              <a href="product.thml">
                                   <img class="product-image" src="images/d1.jpg" alt="product" />
                              </a>
                              <div class="product-name">
                                   <a href="product.html">Slim Shirt</a>
                              </div>
                              <div class="product-brand">Nike</div>
                              <div class="product-price">$60</div>
                              <div class="product-rating">4.5 Stars (10 Reviews)</div>
                         </div>
                    </li>
                    <li>
                         <div class="product">
                              <a href="product.thml">
                                   <img class="product-image" src="images/d1.jpg" alt="product" />
                              </a>
                              <div class="product-name">
                                   <a href="product.html">Slim Shirt</a>
                              </div>
                              <div class="product-brand">Nike</div>
                              <div class="product-price">$60</div>
                              <div class="product-rating">4.5 Stars (10 Reviews)</div>
                         </div>
                    </li>
                    <li>
                         <div class="product">
                              <a href="product.thml">
                                   <img class="product-image" src="images/d1.jpg" alt="product" />
                              </a>
                              <div class="product-name">
                                   <a href="product.html">Slim Shirt</a>
                              </div>
                              <div class="product-brand">Nike</div>
                              <div class="product-price">$60</div>
                              <div class="product-rating">4.5 Stars (10 Reviews)</div>
                         </div>
                    </li>

          </main>
          <footer class="footer">
               All right reserved.
          </footer>
     </div>
     <script>
         function openMenu() {
      document.querySelector(".sidebar").classList.add("open");
    }
    function closeMenu() {
      document.querySelector(".sidebar").classList.remove("open")
    }
     </script>
</body>

</html>